---
import TitledBlock from "components/titled_block.astro"

type Props = {
  slug: string
  name: string
  description: string
  gridWidth: number
  gridHeight: number
}

const {slug, name, description, gridWidth, gridHeight} = Astro.props

// <style define:vars> does not work here
const containerStyle = {
  gridColumn: `auto / span ${gridWidth}`,
  gridRow: `auto / span ${gridHeight}`
}
---

<TitledBlock as="a" class="container" href=`/project/${slug}` style={containerStyle} alwaysBlueLine>
  <h4 slot="header" class="name">{name}</h4>
  <p slot="content" class="description">{description}</p>
</TitledBlock>

<style>
  .container {
    color: var(--color-text-primary);
    text-decoration: none;
  }

  .name {
    margin: 0;
  }

  .description {
    margin: 2step;
    color: var(--color-text-secondary);
    transition: color ease 0.2s;
  }

  .container:hover .description {
    color: var(--color-text-primary);
  }
</style>
