---
import type {MarkdownLayoutProps} from "astro"

// import "@fontsource-variable/inter"
// import "@fontsource-variable/roboto-mono"
import "@fontsource-variable/martian-mono"

import Footer from "components/block/footer.astro"

import {links} from "data/links"
import {names} from "data/name"

type PropsList = {
  title: string
  description: string
  blueBold?: boolean
}

export type Props = PropsList | MarkdownLayoutProps<PropsList>
const props = "frontmatter" in Astro.props ? Astro.props.frontmatter : Astro.props

const {title, description, blueBold} = props
const lang = Astro.currentLocale || "ru"
const {generator} = Astro

const year = new Date().getFullYear()
const name = names[lang]
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#0b0e14" />
    <title>{title}</title>
  </head>
  <body>
    <main class:list={[{"blue-bold": blueBold}]}>
      <slot />
    </main>
    <Footer class="footer" links={links}>
      {year}&nbsp;{name}
    </Footer>
  </body>
</html>

<style is:global>
  @import url("styles/variables.css");
  @import url("styles/typography.css");

  * {
    box-sizing: border-box;
  }
</style>

<style>
  body {
    display: flex;
    flex-direction: column;

    min-width: 480px;
    max-width: 1024px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2step 4step 0;

    /* font-family: 'Inter Variable', sans-serif; */

    /* font-family: "Roboto Mono Variable", monospace; */

    font-family: "Martian Mono Variable", monospace;

    background: var(--color-background-primary);

    @media (--viewport-mobile) {
      padding: 1step 2step;
    }
  }

  main {
    flex-grow: 1;
    text-align: justify;

    &.blue-bold :global(strong) {
      color: var(--color-accent);
    }

    @media (--viewport-tablet) {
      text-align: left;
    }
  }

  .footer {
    margin-top: 4step;
  }
</style>
