---
import type {HTMLAttributes} from "astro/types"
import type {IconDefinition} from "@fortawesome/free-brands-svg-icons"

import FaIcon from "components/system/fa_icon.astro"

export type Props = HTMLAttributes<"a"> & {
  href: string
  icon: IconDefinition
  mini?: boolean
  hideContentOnMobile?: boolean
}

const {slots} = Astro
const {href, icon, mini, hideContentOnMobile, ...restProps} = Astro.props

const isSlotted = slots.has("default")
const isExtenal = href.startsWith("https://")

const attributes = isExtenal ? {target: "_blank", rel: "noopener noreferrer"} : {}
const allProps = {href, ...attributes, ...restProps}
---
<a class:list={["container", {slotted: isSlotted}]} {...allProps}>
  <FaIcon definition={icon} class:list={["icon", {mini}]} />
  <div class:list={["content", {"mobile-hide": hideContentOnMobile}]}>
    <slot />
  </div>
</a>

<style>
.container {
  display: flex;
  align-items: center;

  color: var(--color-text-secondary);
  text-decoration: none;

  transition: color ease 0.2s;

  &:hover {
    color: var(--color-text-primary);
  }
}

.icon {
  width: 24px;
  max-height: 24px;

  &.mini {
    width: 20px;
  }
}

.content.mobile-hide {
  @media (--viewport-mobile) {
    display: none;
  }
}

.container.slotted .icon {
  margin-right: 2step;
}
</style>
